Pyrogram==1.4.8
TgCrypto==1.2.3
ffmpeg-python
psutil
pytgcalls==2.1.0
wheel
python-arq
aiohttp==3.8.1
youtube_dl
youtube_search_python
youtube_search
wget
requests
python-decouple
aiofiles
python-dotenv
asyncio
search_engine_parser
Pillow
future
tswift
