Pyrogram==1.3.5
TgCrypto==1.2.3
ffmpeg-python
psutil
pytgcalls==3.0.0.dev21
wheel
python-arq
aiohttp==3.8.1
youtube_dl
youtube_search_python
youtube_search
wget
requests
python-decouple
aiofiles
python-dotenv
asyncio
search_engine_parser
Pillow
future
tswift
